.container {
  overflow: scroll;
  scroll-snap-type: y mandatory;

  background: lightgray;

  -webkit-overflow-scrolling: touch;

  .element {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;

    border: solid black 1px;
    background: darkgreen;

    font-size: 5em;
    text-align: center;
  }
}

html,
body {
  height: 100vh;
  overflow: hidden;
}
