@import "../../variables.scss";

button {
  font-size: 18px;

  display: inline-block;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 50px;
  text-align: center;
  background: #0000ff;
  color: white;

  font-family: inherit;

  outline: none;
  box-shadow: none;
  border: none;

  transition: background 0.3s ease-in-out;

  &:hover {
    background: #0000cc;
  }
  &:active {
    background: #0000dd;
    transition: background 0.1s ease-in;
  }

  @media screen and (max-width: $mobile-extra-version-max-width) {
    font-size: 16px;

    @media screen and (max-height: $mobile-small-version-max-height) {
      font-size: 14px;
    }
  }
}
