button {
  font-size: 18px;

  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  background: #5b02d8;
  color: white;

  outline: none;
  box-shadow: none;
  border: none;
}
