.languageSelector {
  // font-size: 17px;
  font-size: 20px;

  display: flex;
  flex-direction: column-reverse;
  text-align: right;

  .currentLanguage * {
    text-transform: capitalize;
  }

  .wrapper {
    button {
      background: none;
      border: none;
      padding: 0px;
      color: black;
    }

    .dropdownWrapper {
      position: relative;
      display: none;

      &.visible {
        display: block;
      }

      .languageOptions {
        position: absolute;
        top: 0;

        button {
          padding: 5px 0px;
          // font-size: 15px;
          border-radius: 0;

          text-align: left;
          text-transform: capitalize;

          &.selected {
            text-shadow: 0px 0px 1px black;
          }
        }

        // button + button {
        //   border-top: solid black 1px;
        // }
      }
    }
  }
}
