@import "../../../variables.scss";
.languagepicker {
  $row-height: 40px;

  position: absolute;
  top: -20px;
  right: 0;

  display: inline-block;
  padding: 0;
  height: $row-height;
  overflow: hidden;
  transition: all 0.3s ease;
  // margin: 0px 0px 10px 0px;
  vertical-align: top;

  background-color: transparent;

  background-color: #fff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.06);
  &:hover {
    /* don't forget the 1px border */
    height: 81px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
  li {
    display: block;
    padding: 0px 20px;
    line-height: $row-height;
    // border-top: 1px solid #eee;

    background-color: transparent;

    font-size: 16px;
    // color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: $wide-display-min-width) {
      font-size: 18px;
    }

    &:hover {
      background-color: #eee;
    }
  }
  a:first-child li {
    border: none;
    // background: #fff !important;
    font-size: 16px;
    color: black;

    @media screen and (max-width: $wide-display-min-width) {
      font-size: 18px;
    }
  }

  li img {
    margin-right: 5px;
  }

  &.roundborders {
    border-radius: 5px;
  }

  &.large:hover {
    /* 
    don't forget the 1px border!
    The first language is 40px heigh, 
    the others are 41px
    */
    // height: calc(var(--rows-count) * (#{$row-height} + 1) - 1px);
    height: $languages-count * 40px - 1px;
  }
}
