@import "../../variables.scss";

.mainFeature {
  margin: 0 auto;
  margin-top: $gap-description-mainFeature;

  text-align: center;
  width: 80%;

  font-size: 25px;

  // .companyName * {
  //   font-size: 21px !important;
  // }

  .funnyImage {
    margin: 0 auto;

    width: $funnyImage-size;
    height: $funnyImage-size;
  }

  .feature {
    margin-top: $mainFeature-margin-top;
  }
}
