@import "../../variables.scss";

.mainFeature {
  margin: 0 auto;
  // margin-top: $gap-description-mainFeature;

  text-align: center;
  width: 80%;

  font-size: 25px;

  // .companyName * {
  //   font-size: 21px !important;
  // }

  .funnyImage {
    margin: 0 auto;

    $scale: 0.9;
    width: $funnyImage-size * $scale;
    height: $funnyImage-size * $scale;
  }

  .feature {
    margin-top: $mainFeature-margin-top;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    margin-top: 0;
  }
}
