@import "../../variables.scss";

.title {
  margin-top: $gap-header-title;
  margin-right: $title-margin-right;

  .brends {
    &:before {
      content: "";
      float: right;
      width: 50%;
      height: 0.1em;
    }

    font-size: 30px;
    font-weight: bold;

    @media screen and (min-width: $wide-display-min-width) {
      font-size: 45px;
    }

    span + span {
      margin-left: $span-gap;
    }

    span {
      white-space: nowrap;

      &.alone {
        margin-left: -100%;
        margin-right: -100%;
        text-align: center;
      }
    }
  }

  .feature {
    font-size: 20px;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;

    // width: 85%;

    text-align: center;

    .brends {
      &::before {
        display: none;
      }

      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    .feature {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: $mobile-extra-version-max-width) {
    .brends {
      font-size: 28px;
    }

    .feature {
      font-size: 17px;
    }
  }
}

#textTest {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
