@import "../../variables.scss";

.card {
  box-shadow: 16px 16px 15px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: $card-padding;

  &.noPadding {
    padding: 0;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    &.paddingOnly {
      box-shadow: none;
      background: none;
    }
  }
}
