input {
  font-size: 18px;

  display: inline-block;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 50px;
  text-align: center;

  color: #1f1f1f;

  outline: none;
}
