@import "../../variables.scss";

input {
  font-size: 18px;

  display: inline-block;
  box-sizing: border-box;
  padding: 12px 20px;
  border: 1px solid #c5c5c5;
  border-radius: 50px;
  text-align: center;

  background: transparent;
  font-family: inherit;

  color: #1f1f1f;

  outline: none;

  &:focus::placeholder {
    color: transparent;
  }

  &.done {
    border-color: lightgreen;
  }

  transition: border-color 1s ease-in-out;

  // &:valid {
  //   background: green;
  // }

  &:invalid.sendTried {
    border-color: #ff0000;
    background: #ffeeee;
  }

  @media screen and (max-width: $mobile-extra-version-max-width) {
    font-size: 16px;
  }
}
