@import "../../variables.scss";

.viewBlock {
  .animationContainer {
    height: 100%;
  }

  &:last-of-type {
    margin-bottom: 10em;
  }

  // @media screen and (max-width: $mobile-version-max-width) {
  .animationContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    animation-duration: 1s;
    animation-fill-mode: both;

    transition: opacity 1s ease-in-out;

    & > div {
      margin-top: 0;
    }
  }

  // outline: solid black 1px;

  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);

  &.around {
    .animationContainer {
      justify-content: space-around;
    }
  }

  &.fitContent {
    .animationContainer {
      height: auto;
    }
  }

  -webkit-overflow-scrolling: touch;

  &:not(.first):not(.disabled) {
    .animationContainer {
      opacity: 0;
    }

    &.activated .animationContainer {
      animation-name: fadeInUp;
      opacity: 1;
    }

    &.disactivated .animationContainer {
      animation-name: fadeOutDown;
      opacity: 0;
    }

    @keyframes fadeInUp {
      from {
        transform: translate3d(0, 40px, 0);
      }

      to {
        transform: translate3d(0, 0, 0);
      }
      // }
    }

    @keyframes fadeOutUp {
      from {
        transform: translate3d(0, 40px, 0);
      }

      to {
        transform: translate3d(0, 0, 0);
      }
      // }
    }
  }

  // @media screen and (max-width: $mobile-fit-content-max-width) {
  //   &:not(.forced) {
  //     max-height: fit-content;
  //   }
  // }
}
