@import "../../variables.scss";

.viewBlock {
  height: 100%;

  .animationContainer {
    height: 100%;
  }

  &:last-of-type {
    margin-bottom: 10em;
  }

  // @media screen and (max-width: $mobile-version-max-width) {
  .animationContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    scroll-snap-align: start;
    scroll-snap-stop: always;

    animation-duration: $fade-animation-duration;
    animation-fill-mode: both;

    // & > div {
    //   margin-top: 0;
    // }
  }

  &:not(.noAnimations) .animationContainer {
    transition: opacity $fade-animation-duration ease-in-out;
  }

  // outline: solid black 1px;

  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);

  &.around {
    .animationContainer {
      justify-content: space-around;
    }
  }

  &.fitContent {
    .animationContainer {
      height: auto;
    }
  }

  -webkit-overflow-scrolling: touch;

  // &:not(.first):not(.disabled) {
  &:not(.disabled) {
    .animationContainer {
      // opacity: 0;
    }

    // pointer-events: none;

    &.reactivated .animationContainer {
      animation-name: fadeInDown;
      opacity: 1;

      pointer-events: initial;
    }

    &.activated .animationContainer {
      animation-name: fadeInUp;
      opacity: 1;

      pointer-events: initial;
    }

    &.disactivated .animationContainer {
      animation-name: fadeOutUp;
      opacity: 0;
    }

    @keyframes fadeInUp {
      from {
        transform: translate3d(0, 40px, 0);
      }

      to {
        transform: translate3d(0, 0, 0);
      }
      // }
    }

    @keyframes fadeInDown {
      from {
        transform: translate3d(0, -40px, 0);
      }

      to {
        transform: translate3d(0, 0, 0);
      }
      // }
    }

    @keyframes fadeOutUp {
      from {
        transform: translate3d(0, 0, 0);
      }

      to {
        transform: translate3d(0, -40px, 0);
      }
      // }
    }

    @keyframes fadeOutDown {
      from {
        transform: translate3d(0, 0, 0);
      }

      to {
        transform: translate3d(0, 40px, 0);
      }
      // }
    }
  }

  // margin: 0 $app-padding-horizontal-mobile;
}
