@import "../../variables.scss";

.viewBlock {
  .animationContainer {
    height: 100%;
  }

  &:last-of-type {
    margin-bottom: 10em;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    .animationContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      scroll-snap-align: start;
      scroll-snap-stop: always;

      animation-duration: 1s;
      animation-fill-mode: both;
    }

    // outline: solid black 1px;

    // height: 100vh;
    // height: calc(var(--vh, 1vh) * 100);

    &.around {
      .animationContainer {
        justify-content: space-around;
      }
    }

    &.fitContent {
      .animationContainer {
        height: auto;
      }
    }

    -webkit-overflow-scrolling: touch;

    &:not(.first):not(.disabled) {
      .animationContainer {
        opacity: 0;
      }

      &.activated .animationContainer {
        animation-name: fadeInUp;
      }

      @keyframes fadeInUp {
        from {
          transform: translate3d(0, 40px, 0);
        }

        to {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
  }

  // @media screen and (max-width: $mobile-fit-content-max-width) {
  //   &:not(.forced) {
  //     max-height: fit-content;
  //   }
  // }
}
