@import "../../variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .tableOfContents {
    .tag + .tag {
      margin-left: $tableOfContents-space-between;
    }

    .tag {
      a:active {
        font-weight: bold;
      }
    }
  }

  .languageSelector {
    appearance: none;
    background: none;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
