@import "../../variables.scss";

.header {
  position: relative;

  transition: opacity 0.5s ease-in-out;
  @media screen and (max-width: $mobile-version-max-width) {
    .collectionActive & {
      opacity: 0;
    }
  }

  .subscriptionDoneVisible &,
  .keyboardVisible & {
    display: none;
  }

  &.absolute {
    position: fixed;
    top: 0px;
    left: $app-padding-horizontal-mobile;
    right: $app-padding-horizontal-mobile;
  }

  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  // @media screen and (max-width: $wide-display-min-width) {
  margin-top: $app-padding-vertical / 4;
  // }

  @media screen and (max-width: $mobile-hide-table-of-content-max-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    margin-top: $app-padding-vertical-mobile / 2;
    padding-bottom: $app-padding-vertical-mobile / 4;

    grid-template-columns: 1fr 1fr;
  }

  &.onlyWoman {
    * {
      visibility: hidden;
    }

    & > .woman1 {
      visibility: visible;
    }
  }

  .woman1 {
    position: absolute;
    right: -$app-padding-horizontal / 2 + 40px + 50px;
    top: $app-padding-vertical / 2 - 25px - 50px;

    height: 90vh;
    max-height: 785px;

    @media screen and (min-width: $wide-display-min-width) {
      right: -$app-padding-horizontal / 2 + 20px + 50px;
      top: $app-padding-vertical / 2 - 35px - 35px;

      height: 80vh;
    }

    // width: 648px;
    // height: 713px;

    @media screen and (max-width: $mobile-version-max-width) {
      // top: -10px;
      // right: -340px;
      // transform: scale(0.8);

      display: none;
    }

    @media screen and (max-width: $mobile-extra-version-max-width) {
      display: none;
    }

    z-index: -1;
  }
}
