@import "../../variables.scss";

.centralContainer {
  max-width: $maxContainersWidth;
  margin: 0 auto;

  // padding: 0px #{$app-padding-horizontal};
  padding: 0 $app-padding-horizontal-mobile;

  scroll-snap-type: y mandatory;

  -webkit-overflow-scrolling: touch;
  overflow: scroll;

  // height: calc(var(--vh) * 100);
}

html,
body {
  height: 100vh;
  overflow: scroll;
}
