@import "../../variables.scss";

.centralContainer {
  max-width: $maxContainersWidth;
  margin: 0 auto;

  // padding: 0px #{$app-padding-horizontal};
  padding: 0 $app-padding-horizontal-mobile;

  scroll-snap-type: y mandatory;

  height: 100vh;
}
