@import "../../variables.scss";

.centralContainer {
  max-width: $maxContainersWidth;
  margin: 0 auto;

  // padding: 0px #{$app-padding-horizontal};
  padding: 0 $app-padding-horizontal-mobile;

  scroll-snap-type: y mandatory;

  -webkit-overflow-scrolling: touch;

  @media screen and (max-width: $mobile-version-max-width) {
    overflow: scroll;
  }

  // height: calc(var(--vh) * 100);
}

html,
body {
  &.mainContent {
    overflow: hidden;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    height: 100vh;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }

  -webkit-overflow-scrolling: auto;
}

html {
  &.ios {
    overflow-y: hidden;
  }
}
