.registrationsPage {
  font-family: sans-serif;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 1em;

    // .sendButton {

    // }

    // .logoutButton {

    // }
  }
}
