@import "../../variables.scss";

.fashionGrid {
  display: grid;

  grid-template-columns: repeat(
    auto-fill,
    minmax(#{$fashionElem-size-min}, 1fr)
  );
  grid-auto-rows: 1fr;
  // margin: 0px -#{$app-padding-horizontal};
  margin-top: $gap-mainFeature-fashionGrid;

  &::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .elem {
    position: relative;

    &:nth-child(1n) > .img {
      background: rgb(224, 224, 224);
    }
    &:nth-child(2n) > .img {
      background: rgb(210, 210, 210);
    }
    &:nth-child(3n) > .img {
      background: rgb(190, 190, 190);
    }
    &:nth-child(4n) > .img {
      background: rgb(170, 170, 170);
    }

    .img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
    }

    .placeholder {
      width: 100%;
      height: 100%;

      background: black;
      opacity: 0;

      &:hover {
        opacity: 0.6;
      }

      transition: opacity 0.5s ease-in-out;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        padding: $fashionElem-placeholder-padding;
        box-sizing: border-box;

        .name {
          color: white;
          font-family: "Open Sans", sans-serif;
          font-size: 30px;
          font-weight: bold;

          text-transform: uppercase;
        }

        .bookWrapper {
          text-align: center;

          .book {
            font-size: 17px;
            border: solid white 1px;
            background: transparent;
            width: 90%;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile-version-max-width) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(#{$fashionElem-size-min-mobile}, 1fr)
    );

    margin-left: -$app-padding-horizontal-mobile;
    margin-right: -$app-padding-horizontal-mobile;
    margin-top: 0;
  }
}
