@import "../../variables.scss";

.fashionGrid {
  display: grid;

  --rows-count: 1;
  --columns-count: 1;

  grid-template-columns: repeat(var(--rows-count), 1fr);
  grid-template-rows: repeat(var(--columns-count), 1fr);

  // margin: 0px -#{$app-padding-horizontal};
  // margin-top: $gap-mainFeature-fashionGrid;

  position: absolute;
  top: $fashionGrid-padding;
  bottom: $fashionGrid-padding;
  left: 0;
  right: 0;
  // padding: $fashionGrid-padding;

  // &::before {
  //   content: "";
  //   width: 0;
  //   padding-bottom: 100%;
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }

  // & > *:first-child {
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }

  .elem {
    position: relative;

    &:nth-child(1n) > .img {
      background: rgb(224, 224, 224);
    }
    &:nth-child(2n) > .img {
      background: rgb(210, 210, 210);
    }
    &:nth-child(3n) > .img {
      background: rgb(190, 190, 190);
    }
    &:nth-child(4n) > .img {
      background: rgb(170, 170, 170);
    }

    .img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      &.withImage {
        background: none;
        overflow: hidden;
        position: relative;
      }

      img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        zoom: 0.9;

        height: 100%;

        &.fitToWidth {
          height: auto;
          width: 100%;
        }
      }
    }

    .placeholder {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      // width: 100%;
      // height: 100%;

      opacity: 0;

      &:hover,
      &:active {
        & > .black {
          opacity: 0.6;
        }

        opacity: 1;
      }

      transition: opacity 0.5s ease-in-out;

      &.clickable {
        & > .container > .bookWrapper > .book {
          pointer-events: initial;
        }
      }

      .black {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: black;
        opacity: 0;

        transition: opacity 0.5s ease-in-out;
      }

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        padding: $fashionElem-placeholder-padding;
        box-sizing: border-box;

        .name {
          color: white;
          font-family: "Open Sans", sans-serif;
          font-size: 26px;
          font-weight: bold;

          text-transform: uppercase;
        }

        .bookWrapper {
          text-align: center;

          .book {
            font-size: 17px;
            border: solid white 1px;
            background: transparent;
            width: 90%;
            box-sizing: border-box;

            pointer-events: none;
          }
        }
      }
    }
  }

  // @media screen and (max-width: $mobile-version-max-width) {
  //   grid-template-columns: repeat(
  //     auto-fit,
  //     minmax(#{$fashionElem-size-min-mobile}, 1fr)
  //   );
  // }

  // @media screen and (max-width: $mobile-version-max-width) {
  height: calc(100% - #{$fashionGrid-padding} * 2);

  // grid-auto-rows: 1fr;

  // margin-left: -$app-padding-horizontal-mobile;
  // margin-right: -$app-padding-horizontal-mobile;
  // margin-top: 0;
  // &::before {
  //   content: inherit;
  //   width: inherit;
  //   padding-bottom: inherit;
  //   grid-row: inherit;
  //   grid-column: inherit;
  // }

  // & > *:first-child {
  //   grid-row: inherit;
  //   grid-column: inherit;
  // }
  // }
}
