@import "../../variables.scss";

.features {
  // margin-top: $gap-subscriptionSmall-features;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0 auto;

  height: 70%;

  $duration: 0.8s;

  &.activated > .main > ol > li {
    animation: appear $duration linear forwards;
  }

  .main {
    padding: $card-padding;
    padding-right: 0;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    ol {
      margin-left: 1em;
      width: 70%;

      li + li {
        margin-top: $ordered-list-gap-between-lines;
      }

      li::before {
        content: "";
        width: $ordered-list-gap-between-number-and-text;
        display: inline-block;
      }

      li {
        list-style-position: inside;
        text-indent: -2em;

        // animation-delay: $duration * 1;
        opacity: 0;

        &:nth-of-type(2) {
          animation-delay: $duration * 1;
        }

        &:nth-of-type(3) {
          animation-delay: $duration * 2;
        }

        &:nth-of-type(4) {
          animation-delay: $duration * 3;
        }

        &:nth-of-type(5) {
          animation-delay: $duration * 5;
        }
      }

      @keyframes appear {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }
  .woman {
    // background: lightgray;
    height: 100%;
    // margin-top: -47px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: $mobile-hide-table-of-content-max-width) {
    $mobile-woman-width: 40%;

    grid-template-columns: 1fr $mobile-woman-width;
    .woman {
      width: $mobile-woman-width;
    }
  }

  @media screen and (max-width: $mobile-version-max-width) {
    text-align: center;
    margin-left: 0;
    grid-template-columns: 1fr;
    margin-top: 0;

    .woman {
      display: none;
    }

    .main {
      padding: 0;
      ol {
        padding-left: 0;
        margin-left: 0;
        text-align: center;
        list-style-position: inside;
        width: 100%;

        li + li {
          margin-top: $ordered-list-gap-between-lines-mobile;
        }

        li {
          list-style-position: inside;
          text-indent: 0;
        }

        li::before {
          content: "";
          width: $ordered-list-gap-between-number-and-text-mobile;
          display: inline-block;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-extra-version-max-width) {
    font-size: 18px;
  }
}
