@import "../../variables.scss";

.features {
  margin-top: $gap-subscriptionSmall-features;
  margin-left: $features-margin-left;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr $woman-2-width;

  ol {
    margin-left: 1em;

    li + li {
      margin-top: $ordered-list-gap-between-lines;
    }

    li::before {
      content: "";
      width: $ordered-list-gap-between-number-and-text;
      display: inline-block;
    }

    li {
      list-style-position: inside;
      text-indent: -2em;
    }
  }

  .woman {
    position: absolute;
    right: 0;

    margin-top: -47px;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    text-align: center;
    margin-left: 0;
    grid-template-columns: 1fr;

    .woman {
      display: none;
    }

    ol {
      padding-left: 0;
      margin-left: 0;
      text-align: center;
      list-style-position: inside;

      li + li {
        margin-top: $ordered-list-gap-between-lines-mobile;
      }

      li {
        list-style-position: inside;
        text-indent: 0;
      }

      li::before {
        content: "";
        width: $ordered-list-gap-between-number-and-text-mobile;
        display: inline-block;
      }
    }
  }
}
