@import "../../variables.scss";

.footer {
  width: 80%;

  margin: 0 auto;
  margin-top: $gap-subscriptionBig-footer;

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-column-gap: $footer-column-gap;

  .column {
    // max-width: 50%;

    .description {
      text-align: unset;
      margin: 0 0;
      width: 100%;
    }

    .contacts {
      margin-bottom: $footer-contacts-social-gap;

      // .label {
      //   //
      // }

      .info {
        display: grid;

        grid-template-columns: repeat(2, min-content);
        grid-column-gap: $footer-contacts-column-gap;
      }
    }
  }
}
