@import "../../variables.scss";

.footer {
  width: 80%;

  margin: 0 auto;
  // margin-top: $gap-subscriptionBig-footer;

  display: flex;
  justify-content: space-around;

  font-size: 18px;

  a {
    color: black;
    text-decoration: none; /* no underline */

    &:hover {
      text-decoration: underline;
    }
  }

  .contacts {
    margin-bottom: $footer-contacts-social-gap;

    // .label {
    //   //
    // }

    .info {
      display: grid;

      grid-template-columns: repeat(2, min-content);
      grid-column-gap: $footer-contacts-column-gap;
      grid-row-gap: 5px;
    }
  }

  @media screen and (max-width: $mobile-version-max-width) {
    flex-direction: column;
    font-size: 16px;
    // margin-top: $mobile-block-gap;
  }
}
