@import "../../variables.scss";

.footer {
  width: 80%;

  margin: 0 auto;
  margin-top: $gap-subscriptionBig-footer;
  margin-bottom: 10em;

  display: flex;
  justify-content: space-around;

  .contacts {
    margin-bottom: $footer-contacts-social-gap;

    // .label {
    //   //
    // }

    .info {
      display: grid;

      grid-template-columns: repeat(2, min-content);
      grid-column-gap: $footer-contacts-column-gap;
    }
  }

  @media screen and (max-width: $mobile-version-max-width) {
    flex-direction: column;
  }
}
