@import "../../../variables.scss";

.tableOfContents {
  font-size: 17px;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (max-width: $mobile-hide-table-of-content-max-width) {
    display: none;
  }

  .text {
    .tag {
      a:link {
        text-decoration: none;
        color: inherit;
      }

      a:visited {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        text-decoration: none;
        color: inherit;
      }

      a:active {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
