@import "../../../variables.scss";

.tableOfContents {
  font-size: 17px;
  display: flex;
  flex-direction: column-reverse;

  text-align: center;

  @media screen and (max-width: $mobile-hide-table-of-content-max-width) {
    display: none;
  }

  .text {
    .tag {
      a:link {
        text-decoration: none;
        color: inherit;
      }

      a:visited {
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        text-decoration: none;
        color: inherit;
      }

      a:active {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .tag + .tag {
    margin-left: $tableOfContents-space-between;
  }

  .tag {
    a:hover {
      text-shadow: 0px 0px 1px black;
    }
  }
}
