@import "variables.scss";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@media screen and (max-width: $mobile-version-max-width) {
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fafafa;
}

body * {
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#textWidthTester {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  top: 0;
  white-space: nowrap; /* Thanks to Herb Caudill comment */
}
