$mobile-hide-table-of-content-max-width: 1200px;
$mobile-version-max-width: 1000px;
$mobile-fit-content-max-width: 950px;
$mobile-extra-version-max-width: 325px;
$mobile-block-gap: 5em;
$fade-animation-duration: 0.3s;

$card-padding: 2.5em;

$subscriptionDone-margin: 35px;

$parallax-perspective: 1px;
$parallax-translateZ: -1px;
$parallax-scale-factor: 1 + ($parallax-translateZ * -1) / $parallax-perspective;

$woman-2-width: 648px;

$app-padding-horizontal: 73px;
$app-padding-vertical: 114px;
$app-padding: $app-padding-horizontal $app-padding-vertical;

$app-padding-horizontal-mobile: 35px;
$app-padding-vertical-mobile: 54px;
$app-padding-mobile: $app-padding-horizontal-mobile $app-padding-vertical-mobile;

$span-gap: 0.2em;
$blockHeader-margin-bottom: 2em;
$maxContainersWidth: 1360px;
$horizontalLimiter-padding: 55px;

$tableOfContents-space-between: 1em;

$features-margin-left: 15px;
$title-margin-right: 320px;

$subscriptionSmall-label-gap: 32px;
$gap-between-inputs: 22px;
$ordered-list-gap-between-number-and-text: 1em;
$ordered-list-gap-between-number-and-text-mobile: 0.2em;
$ordered-list-gap-between-lines: 56px;
$ordered-list-gap-between-lines-mobile: 30px;

$funnyImage-size: 105px;

$mainFeature-margin-top: 94px;

$fashionGrid-padding: 30px;

$fashionElem-width-min: 230px;
$fashionElem-width-min-mobile: 140px;
$fashionElem-height-min: 180px;
$fashionElem-height-min-mobile: 160px;
$fashionElem-width-max: 20em;
$fashionElem-placeholder-padding: 1em;

$subscriptionBig-subTitle-gap: 20px;
$subscriptionBig-costs-padding: 0px 88px;
// $subscriptionBig-costs-padding-mobile: 40px 0px;
$subscriptionBig-costs-padding-mobile: 0px 0px;
$subscriptionBig-sendBox-margin-top: 33px;
$subscriptionBig-smallText-margin-top: 30px;

$footer-column-gap: 6em;
$footer-contacts-column-gap: 10px;
$footer-contacts-social-gap: 77px;

$gap-header-title: 130px;
$gap-title-subscriptionSmall: 70px;
$gap-subscriptionSmall-features: 328px;
$gap-features-description: 430px;
$gap-description-mainFeature: 312px;
$gap-mainFeature-fashionGrid: 295px;
$gap-fashionGrid-subscriptionBig: 264px;
$gap-subscriptionBig-footer: 239px;

:export {
  mobileVersionMaxWidth: $mobile-version-max-width;
  appPaddingVertical: $app-padding-vertical;
  fashionElemWidthMinMobile: $fashionElem-width-min-mobile;
  fashionElemHeightMinMobile: $fashionElem-height-min-mobile;
  fashionElemWidthMin: $fashionElem-width-min;
  fashionElemHeightMin: $fashionElem-height-min;
  fadeAnimationDuration: $fade-animation-duration;
  fashionGridPadding: $fashionGrid-padding;
}
