@import "../../variables.scss";

.subscriptionSmall {
  margin-top: $gap-title-subscriptionSmall;
  width: 36%;

  margin-bottom: $app-padding-vertical;

  .label {
    margin-bottom: $subscriptionSmall-label-gap;
    font-size: 17px;
    width: 100%;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-bottom: $app-padding-vertical-mobile / 2;

    .label {
      display: none;
    }
  }

  @media screen and (min-width: $wide-display-min-width) {
    width: 50%;
  }
}
