@import "../../variables.scss";

// $small-screens-ratio: 0.9;
// $small-screen-height:

.subscriptionBig {
  position: relative;

  height: 70%;
  max-width: 80%;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: $mobile-version-max-width) {
    grid-template-columns: 1fr;
  }

  & > .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: $card-padding $card-padding * 2;
  }

  & > .left {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $mobile-version-max-width) {
      display: none;
    }
  }

  .decorationImage {
    position: absolute;

    right: -73px;
    top: -113px;
    z-index: -1;

    .subscriptionDoneVisible & {
      visibility: hidden;
    }
  }

  span + span {
    margin-left: $span-gap;
  }

  .subTitle {
    .main {
      font-size: 27px;
    }

    .secondary {
      margin-top: $subscriptionBig-subTitle-gap;
      font-size: 19px;
    }
  }

  .variants {
    display: flex;
    justify-content: space-between;

    white-space: nowrap;

    // padding: $subscriptionBig-costs-padding;

    @media screen and (max-width: $mobile-version-max-width) {
      justify-content: space-around;
    }

    .separator {
      display: flex;
      justify-content: space-around;

      font-size: 40px;

      flex-direction: column;
    }

    .costContainer {
      .amount,
      .unit {
        font-size: 40px;
      }

      .unit {
        font-size: 40px;
      }

      .slash {
        font-size: 30px;
      }

      .period {
        font-size: 25px;
      }
    }

    .target {
      font-size: 25px;
      text-align: center;
    }

    @media screen and (max-width: $wide-display-min-width) {
      .costContainer {
        .amount,
        .unit {
          font-size: 35px;
        }

        .unit {
          font-size: 35px;
        }

        .slash {
          font-size: 25px;
        }

        .period {
          font-size: 20px;
        }
      }
      .target {
        font-size: 20px;
      }
    }

    @media screen and (max-width: $mobile-extra-version-max-width) {
      flex-direction: column;
      text-align: center;

      .separator {
        margin: 10px 0px;
      }
    }
  }

  .subscriptionBlock {
    display: flex;
    flex-direction: column;

    // width: 94%;
    margin: 0 auto;
    margin-top: $subscriptionBig-sendBox-margin-top;

    // button {
    //   margin-top: $gap-between-inputs;
    // }

    @media screen and (max-width: $mobile-version-max-width) {
      width: 100%;
    }
  }

  .smallText {
    font-size: 16px;
    text-align: center;

    $offset: 15px;
    margin-top: $subscriptionBig-smallText-margin-top - $offset;
    margin-bottom: -$offset;
  }

  @media screen and (max-width: $mobile-version-max-width) {
    width: 100%;
    max-width: 100%;
    .right {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      // padding: 0;
      width: 100%;

      height: 100%;
      padding-top: ($app-padding-vertical-mobile / 2);
      padding-bottom: ($app-padding-vertical-mobile / 2);

      background: none;
      box-shadow: none;
      padding: 0;
      margin: 0;

      .subTitle {
        .secondary {
          display: none;
        }
      }

      .variants {
        padding: $subscriptionBig-costs-padding-mobile;

        .costContainer {
          .amount,
          .unit {
            font-size: 30px;
          }

          .unit {
            font-size: 30px;
          }

          .slash {
            font-size: 20px;
          }

          .period {
            font-size: 15px;
          }
        }

        .target {
          font-size: 15px;
        }

        .separator {
          font-size: 25px;
        }
      }

      .decorationImage {
        display: none;
      }

      .sendBox {
        width: 100%;
      }
      .bottomBlock .smallText {
        display: none;
      }
    }
  }
}
