@import "../../variables.scss";

.subscriptionBig {
  width: 80%;
  margin: 0 auto;
  margin-top: $gap-fashionGrid-subscriptionBig;

  box-shadow: 16px 16px 15px 0px rgba(0, 0, 0, 0.1);
  padding: $subscriptionBig-padding;

  background: white;

  .variants {
    display: flex;
    justify-content: space-between;

    padding: $subscriptionBig-costs-padding 0;

    // .costContainer {
    //   display: inline-block;
    // }

    // .target {
    //   display: inline-block;
    // }
  }

  .sendBox {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto;

    button {
      margin-top: $gap-between-inputs;
    }
  }
}
