@import "../../variables.scss";

.subscriptionBig {
  width: 67%;
  margin: 0 auto;
  margin-top: $gap-fashionGrid-subscriptionBig;

  box-shadow: 16px 16px 15px 0px rgba(0, 0, 0, 0.1);
  padding: $subscriptionBig-padding;

  background: white;

  span + span {
    margin-left: $span-gap;
  }

  .subTitle {
    .main {
      font-size: 27px;
    }

    .secondary {
      margin-top: $subscriptionBig-subTitle-gap;
      font-size: 19px;
    }
  }

  .variants {
    display: flex;
    justify-content: space-between;

    padding: $subscriptionBig-costs-padding;

    .separator {
      display: flex;
      justify-content: space-around;

      font-size: 40px;

      flex-direction: column;
    }

    .costContainer {
      .amount,
      .unit {
        font-size: 40px;
      }

      .unit {
        font-size: 40px;
      }

      .slash {
        font-size: 30px;
      }

      .period {
        font-size: 25px;
      }
    }

    .target {
      font-size: 25px;
      text-align: center;
    }
  }

  .sendBox {
    display: flex;
    flex-direction: column;

    width: 94%;
    margin: 0 auto;
    margin-top: $subscriptionBig-sendBox-margin-top;

    button {
      margin-top: $gap-between-inputs;
    }
  }

  .smallText {
    font-size: 14px;
    text-align: center;

    margin-top: $subscriptionBig-smallText-margin-top;
  }
}
