@import "../../variables.scss";

.subscriptionWrapper {
  display: none;
  position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  // margin-left: $app-padding-horizontal-mobile;
  // margin-right: $app-padding-horizontal-mobile;

  background: rgba($color: #000000, $alpha: 0.4);

  @media screen and (max-width: $mobile-version-max-width) {
    // padding: 15px;
  }

  &.visible {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .subscriptionDone {
    position: relative;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 70%;
    // max-width: 80%;
    margin: 0 $app-padding-horizontal-mobile;
    width: auto;

    @media screen and (max-width: $wide-display-min-width) {
      height: 80%;
    }

    @media screen and (max-width: $mobile-version-max-width) {
      padding: 40px;
      // top: $card-padding;
    }

    @media screen and (max-width: $mobile-version-max-width) {
      height: 90%;
      grid-template-columns: 1fr;
      max-width: 100%;

      margin: 0;
      padding: 2em;
    }

    .left {
      height: 100%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: $mobile-version-max-width) {
        display: none;
      }
    }

    & > .right {
      display: block;
      // justify-content: space-around;
      // flex-direction: column;

      $padding-hor: 30px;
      $padding-ver: 50px;
      // width: calc(100% - #{$padding-hor * 2});
      height: calc(100% - #{$padding-ver * 2});

      padding: $card-padding $card-padding * 2;

      @media screen and (max-width: $mobile-version-max-width) {
        // padding: $padding-ver $padding-hor;
        display: block;
        padding: 0;
        text-align: center;
      }

      .sc_header {
        padding-bottom: 15px;
        font-size: 30px;

        @media screen and (max-width: $mobile-version-max-width) {
          // padding: 15px;
        }
      }

      .message {
        font-size: 18px;
      }

      .closeIcon {
        position: absolute;
        top: $card-padding;
        right: $card-padding;

        width: 25px;
        height: 25px;

        border-radius: 50%;
        padding: 5px;
        margin-top: 1em - $card-padding;
        margin-right: 1em / 3 * 2 - $card-padding;

        &:hover {
          background: #0000000a;
        }
      }
    }
  }
}
