@import "../../variables.scss";

.subscriptionWrapper {
  display: none;
  position: fixed;

  left: -$app-padding-horizontal-mobile;
  top: 0px;
  bottom: 0px;
  right: -$app-padding-horizontal-mobile;

  background: rgba($color: #000000, $alpha: 0.4);

  &.visible {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .subscriptionDone {
    position: relative;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
      background: lightgray;
      width: 700px;
      height: 700px;
    }

    .right {
      padding: $card-padding;
      width: 600px;

      .sc_header {
        padding: 15px 0px;
        font-size: 30px;
      }

      .message {
        font-size: 18px;
      }

      .closeIcon {
        position: absolute;
        top: $card-padding;
        right: $card-padding;

        width: 25px;
        height: 25px;

        border-radius: 50%;
        padding: 5px;

        &:hover {
          background: #0000000a;
        }
      }
    }

    @media screen and (max-width: $mobile-version-max-width) {
      height: initial;
      width: initial;
    }
  }
}
